/*header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: pink;
}*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightcoral;
  }

nav {
    display:flex;
    float: right;
}
